<div class="container">
    <div>
        <h3 style="color: #1687a7; margin-top: 1%; margin-bottom: 2%; text-align: center;">{{title}}
            <p class="lead"></p>
        </h3>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-5" style="margin-left: 30%;">
                <div class="panel">
                    <div class="panel-body" style="background-color: #d3e0ea; border-radius: 20px;">
                        <form style="margin-left: 10%;" #userlogin="ngForm" (ngSubmit)="loginUser()">
                            <div class="form-group">
                                <label style="margin-top: 3%;">Email</label>
                                <input type="email" class="form-control" style="width: 350px;" name="email" #email="ngModel" [class.is-invalid]="email.invalid && email.touched" [(ngModel)]="user.email" pattern="^[a-z0-9.%+]+@[a-z0-9.-]+\.[a-z]{2,4}" required/>                  
                                <small class="text-danger" [class.d-none]="email.valid || email.touched">Enter valid email</small>
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" class="form-control" style="width: 350px;" name="pwd" [class.is-invalid]="pwd.invalid && pwd.touched" #pwd="ngModel" [(ngModel)]="user.pwd" minlength="6" required/>
                                <small class="text-danger" [class.d-none]="pwd.valid || pwd.touched">Enter password of minimum length 6</small>                  
                            </div> 
                            <button type="submit" class="btn btn-info" style="margin: 10% 0 5% 35%;" [disabled]="userlogin.form.invalid">Submit</button>                
                        </form> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>